---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import Button from '../components/Button.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Forms from '../components/Forms.astro';
---

<Layout 
title="José González | Web Design & Software Development portfolio"
description="Hire José González to design your brand and create your professional website. wide range of experience in design and frontend development."
>
	<main class="justify-center items-center px-4">
		<SectionContainer class="py-44 pb-20">
			<!-- Profile tags -->
			 <div class="flex flex-col mb-4">
				<div class="flex">
					<img 
						class="rounded-full size-16 mr-4 border-[2px] border-[#0f0c11] hover:border-[#FAAB00] hover:scale-110 transition duration-200 md:mr-6"
						src="https://avatars.githubusercontent.com/u/130326374?v=4" 
						alt="GitHub Profile Picture" 
					 />
					<div>
						<h1 class="text-[#0f0c11] dark:text-[#F4F4F4] font-semibold flex flex-row gap-x-4 text-lg text-start justify-start md:text-center md:text-2xl mb-2">
							José Luis Gutiérrez González
						</h1>
	
						<a 
							href="https://www.linkedin.com/in/gonzz-dev/" 
							target="_blank" 
							rel="noopener" 
							class="flex justify-start gap-2 md:gap-4">
						  <Badge class="justify-center">Available - Let's talk!</Badge>
						  <Badge class="justify-center">Nuevo Vallarta, MX</Badge>
						</a>
					 </div>
				</div>
			 </div>

			 <!-- Introduction -->
			<h2 class=" justify-center text-xl leading-tight font-bold text-wrap max-w-[1000px] md:text-5xl">
				<img src="/logo-5.png" alt="Cat illustration" class=" absolute ml-[280px] -mt-[20px] w-16 hover:animate-tada md:ml-[480px] md:-mt-[90px] md:w-28" />
				<p class="text-[#0f0c11] dark:text-[#F4F4F4]/80">Making stuff on the web.</p>
				<span class="text-[#0f0c11] dark:text-[#F4F4F4]/80">I love contributing to the creative and technical </span>
				<span class="relative group animate-text bg-gradient-to-r from-[#B617E6] via-[#FAAB00] to-[#B617E6] bg-clip-text text-transparent transition">development </span>
				<span class="text-[#0f0c11] dark:text-[#F4F4F4]/80"> of user interfaces, webs and apps.</span>
			</h2>

			<!-- Buttons -->
			 <ul class="flex gap-2 mt-8 md:mt-12 md:gap-4">
				 <a href="/JLGG-CV.pdf" target="_blank" rel="noopener">
					<Button>
						<p class="flex gap-2">
							<img src="/icons/notebook.svg" alt="Button icon" class="w-3 md:w-7">
							Download Resume
						</p>
					</Button>
				 </a>
				 <a href="/#projects">
					 <Button>
						<p class="flex gap-2">
							<img src="/icons/eye.svg" alt="Button icon" class="w-3 md:w-7">
							View Projects
						</p>
					</Button>
				 </a>
				 <a href="https://gonzz.life">
					 <Button>
						<p class="flex gap-2">
							<img src="/icons/link.svg" alt="Button icon" class="w-3 md:w-7">
							Social Links
						</p>
					</Button>
				 </a>
			</ul>
		</SectionContainer>

		<SectionContainer id="experience">
			<h3 class="text-[#0f0c11] dark:text-[#F4F4F4] text-4xl font-semibold md:pt-20 mb-12">Experience</h3>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h3 class="text-[#0f0c11] dark:text-[#F4F4F4] text-4xl font-semibold md:pt-20 mb-12">Projects</h3>
			<Projects />
		</SectionContainer>

		<SectionContainer id="contact">
			<Forms />
		</SectionContainer>
	</main>
	<a href="#" class="fixed fill-[#F4F4F4] p-9 bottom-12 right-6 hidden md:block hover:scale-110 transition opacity-60 hover:opacity-100" >
		<img class="size-12" src="./icons/circle-arrow-up.svg" alt="Scroll to top">
	</a>
</Layout>