---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Forms from '../components/Forms.astro';
---

<Layout 
title="José González | Web Design & Software Development portfolio"
description="Hire José González to design your brand and create your professional website. wide range of experience in design and frontend development."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-20">

			<!-- Hero -->
			 <div class="flex items-center justify-start">
				<img 
					class="rounded-lg size-24 mr-4 border-[2px] border-[#0f0c11] hover:border-[#ff9933] hover:animate-jiggle transition duration-500 md:mr-6 md:size-36"
					src="https://avatars.githubusercontent.com/u/130326374?v=4" 
					alt="GitHub Profile Picture" 
				 />
				<div>
					<a 
						href="https://www.linkedin.com/in/gonzz-dev/" 
						target="_blank" 
						rel="noopener" 
						class="flex justify-start -mb-8">
					  <Badge class="justify-center">Available | Let's talk!</Badge>
					</a>
		  
					<h1 class="text-[#0f0c11] dark:text-[#e8e4ea] text-2xl text-center justify-start md:text-6xl font-semibold flex flex-row gap-x-4 pb-4 lg:pb-4">
						Hey there!
						<img src="./raising-hands.webp" alt="Alien saying hi animation" class="size-6 md:size-14">
					</h1>

					<!-- Social media links -->
					<ul class="flex justify-start gap-2 items-center mb-8 md:gap-6">

						<li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
							<a href="https://www.linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
								<img src="./icons/linkedin.svg" alt="LinkedIn logo">
							</a>
						</li>

						<li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
							<a href="https://www.github.com/gonzzdev" target="_blank" rel="noopener">
								<img src="./icons/github.svg" alt="GitHub logo">
							</a>
						</li>

						<li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
							<a href="https://www.twitter.com/gonzz_dev" target="_blank" rel="noopener">
								<img src="./icons/twitter.svg" alt="Twitter logo">
							</a>
						</li>

						<li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
							<a href="https://www.youtube.com/channel/UCUWgFhhL4YoEpylnXCrb_Cg" target="_blank" rel="noopener">
								<img src="./icons/youtube.svg" alt="YouTube logo">
							</a>
						</li>

						<li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
							<a href="https://gonzz.life" target="_blank" rel="noopener">
								<img src="./icons/link.svg" alt="Link to social page">
							</a>
						</li>
					</ul>
				 </div>
			 </div>

			<h2 class=" justify-center text-md lg:text-xl font-medium text-wrap max-w-[1000px]">
				<span class="text-[#0f0c11] dark:text-[#e8e4ea]/80">I love </span>
				<span class="text-[#FF9933] font-bold">Designing </span><span class="text-[#0f0c11] dark:text-[#e8e4ea]/80">& </span><span class="text-[#FF9933] font-bold">Developing </span><span class="text-[#0f0c11] dark:text-[#e8e4ea]/80"> websites for companies and brands. Currently living in <a href="https://www.google.com.mx/maps/place/63735+Nuevo+Vallarta,+Nay./@20.6970721,-105.311228,14z/data=!3m1!4b1!4m6!3m5!1s0x842146a3108c50c7:0x4cb5066faa51643d!8m2!3d20.6986205!4d-105.2964898!16s%2Fm%2F080j413?entry=ttu" target="_blank" rel="noopener"><em>Nuevo Vallarta, México</em></a> and working <em>everywhere.</em></span>
			</h2>

		</SectionContainer>

		<SectionContainer id="experience">
			<h3 class="text-[#0f0c11] dark:text-[#e8e4ea] text-3xl font-semibold pt-20 mb-4">Work Experience</h3>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h3 class="text-[#0f0c11] dark:text-[#e8e4ea] text-3xl font-semibold pt-20 mb-4">Projects</h3>
			<Projects />
		</SectionContainer>

		<SectionContainer id="contact">
			<Forms />
		</SectionContainer>
	</main>
	<a href="#" class="fixed fill-[#e8e4ea] p-9 bottom-6 right-6 hidden md:block hover:scale-110 transition opacity-25 hover:opacity-100" >
		<img class="size-12" src="./icons/circle-arrow-up.svg" alt="Scroll to top">
	</a>
</Layout>