<div class="flex items-center justify-center mb-10 pt-4">
    <span class="bg-[#6c3f99] text-[#e8e4ea] text-xs font-semibold me-2 px-2.5 py-0.5 rounded-full dark:bg-[#6c3f99]/20 dark:text-[#e8e4ea] border-[2px] border-[#6c3f99] hover:scale-110 hover:text-[#e8e4ea] hover:bg-[#6c3f99]/60 hover:dark:bg-[#6c3f99] hover:dark:text-[#e8e4ea] hover:shadow-primary-2 transition"><slot /></span>
</div>
