<div class="flex items-center justify-center hover:animate-jiggle">
    <span class="text-[#0f0c11] text-[8px] font-semibold px-2.5 py-0.5 rounded-full md:text-xs dark:text-[#e8e4ea] border-[2px] border-[#6c3f99] hover:scale-110 hover:text-[#e8e4ea] hover:bg-[#6c3f99]/60 hover:dark:bg-[#6c3f99] hover:dark:text-[#e8e4ea] hover:shadow-primary-2 transition duration-200"><slot /></span>
</div>
