<div class="flex items-center justify-center hover:animate-jiggle">
    <span class="text-[#0f0c11] text-[8px] font-semibold px-2.5 py-0.5 rounded-full md:text-xs dark:text-[#F4F4F4] border-[2px] border-[#B617E6] hover:scale-110 hover:text-[#F4F4F4] hover:bg-[#B617E6]/60 hover:dark:bg-[#B617E6] hover:dark:text-[#F4F4F4] hover:shadow-primary-2 transition duration-200"><slot /></span>
</div>
