<div class="flex items-center justify-center">
    <span class="text-[#e8e4ea] text-[8px] text-nowrap font-semibold px-4 py-2 rounded-full dark:text-[#e8e4ea] border-[2px] border-[#6c3f99] hover:scale-110 hover:text-[#e8e4ea] hover:bg-[#6c3f99]/60 hover:dark:bg-[#6c3f99] hover:dark:text-[#e8e4ea] hover:shadow-primary-2 transition duration-200 md:text-lg"><slot /></span>
</div>