<div class="flex items-center justify-center">
    <span class="text-[#0f0c11] text-[8px] text-nowrap font-semibold px-4 py-2 rounded-full dark:text-[#F4F4F4] border-[2px] border-[#B617E6] hover:scale-110 hover:text-[#F4F4F4] hover:bg-[#B617E6]/60 hover:dark:bg-[#B617E6]/40 hover:dark:text-[#F4F4F4] hover:shadow-primary-2 transition duration-200 md:text-lg"><slot /></span>
</div>