---
 export interface Props {
    date: string
    title: string
    company: string
    description: string
}
const { date, title, description, company } = Astro.props
---
<div class="rounded-2xl border-2 border-[#e8e4ea]/10">
    <div class="absolute w-3 h-3 bg-[#ff9933] dark:bg-[#6c3f99] rounded-full mt-7 -start-1.5"></div>
    <h3 class="text-lg font-semibold text-[#6c3f99] hover:text-[#ff9933] dark:text-[#ff9933] hover:dark:text-[#6c3f99] transition px-10 pt-5">{title} - {company}</h3>
    <time class="mb-1 text-xs font-medium leading-none text-[#0f0c11] dark:text-[#e8e4ea] opacity-80 px-10">{date}</time>
    <p class="mb-4 text-base font-semibold text-[#0f0c11] dark:text-[#e8e4ea]/80 text-pretty mt-2 px-10 pb-2">{description}.</p>
</div>


