---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Jan 2024 - Present",
        title: "Web Development & Design",
        company: "Freelance",
        description: "Web designer and developer driven to excel in this profession. My goal is to combine technical expertise with creative solutions to craft user-centered web experiences",
        link: "./GONZZ-CV.pdf",
        stack: "Astro | Javascript | Tailwind CSS | HTML | CSS | Figma | Framer | AdobeCC"
    },
    {
        date: "Jan 2020 - Jan 2023",
        title: "Operations Manager",
        company: "Yorokobi Sushi",
        description: "Team recruitment, training and management. I was in charge of administrative tasks, customer satisfaction, social media and design using different technologies and tools to help me optimize the business",
        stack: "Microsoft 365 | Notion | Wordpress | Social Media | Management"
    }
]
---

<ol class="relative border-s border-[#6c3f99]/40 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }              

</ol>