---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "May 2024 - Present",
        title: "Web Designer & Developer",
        company: "Freelance",
        description: "Worked with diverse clients and contributed to open-source projects. Working primarily as a freelancer and looking for job oportunities",
        link: "./GONZZ-CV.pdf",
        stack: "HTML | CSS | JavaScript | React | Astro | NEXT.js | Figma | AdobeCC"
    },
]
---

<ol class="relative ml-1">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }              

</ol>