---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "2023-Present",
        title: "Visual Designer",
        company: "Gonzz Studio",
        description: "Graphic and web designer. Aspiring frontend developer driven to excel in this profession. Proficient in design software and web development tools and technologies. My goal is to combine technical expertise with creative solutions to craft unique, professional user-centered experiences",
        link: "./GONZZ-CV.pdf",
        stack: "Adobe CC | Figma | Framer | HTML | CSS"
    },
    {
        date: "2020-2023",
        title: "Operations Manager",
        company: "Yorokobi Sushi",
        description: "Team recruitment, training and management. I was in charge of administrative tasks, customer satisfaction, social media and design using different technologies and tools to help me optimize the business",
        stack: "Office | Google Products | Notion | Illustrator | Photoshop | Wordpress | Social Media"
    }
]
---

<ol class="relative border-s border-[#6c3f99]/40 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }              

</ol>