---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "May 2024 - Present",
        title: "Web Designer & Developer",
        company: "Freelance",
        description: "Back in 2022 I decided to learn graphic design to support my local food business. I’ve enjoyed creating a logotype, graphic elements, social media and digital assets. Used those acquired skills to help other businesses build their brands and improve their sales",
        stack: "HTML | CSS | JavaScript | React | Astro | NEXT.js | Figma | AdobeCC"
    },
]
---

<ol class="relative ml-1">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }              

</ol>