

<footer class="bg-[#0f0c11] border-2 border-[#6c3f99]/40 rounded-t-lg m-4 w-full xl:w-[1120px] mx-auto mt-20">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <span class="flex items-center justify-center text-xs text-center text-[#0f0c11] dark:text-[#e8e4ea] gap-1 font-semibold">
            Made with 
            <img src="./purple-heart.webp" alt="Heart animated with flames" class="size-6 items-center justify-center">
            by me, inspired by
            <a href="https://x.com/midudev" class="hover:underline">
                 this beautiful idividual
            </a>
    </div>
</footer>

