---
import Social from "./Social.astro"
---

<section>
    <img src="/logo-1.svg" alt="Brand Symbols" class="w-[100px] m-auto mt-20">
  <div class="bg-[#171717]/20 border-2 border-[#e8e4ea]/10 py-8 px-8 rounded-lg mx-auto max-w-[600px] mt-20 dark:bg-[#171717]/40">
    <a href="https://linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
        </a>
        <h2 class="mb-2 text-3xl tracking-tight font-extrabold text-[#0f0c11] dark:text-[#e8e4ea] md:text-4xl">Ready to build a site that captures your vision?</h2>
        <p class="font-light text-[#0f0c11] dark:text-[#e8e4ea]/80 sm:text-xl">Let's make it true! ✨<p>
        
        <a href="mailto:contact@gonzz.dev" class="flex font-light text-[#B617E6] dark:text-[#FAAB00] mt-8 sm:text-xl">contact@gonzz.dev<a>
  
        <Social />
        <img src="/logo-6.png" alt="Cat over laptop image" class="absolute w-20 sm:w-40 ml-44 sm:ml-80 md:ml-96 -mt-32 sm:-mt-28 hover:animate-tada">
  </div>
</section>