<section>
    <img src="/logo-1.svg" alt="Brand Symbols" class="w-[100px] m-auto mt-20">
  <div class="bg-[#17131A]/10 border-2 border-[#e8e4ea]/10 py-8 px-8 rounded-lg mx-auto max-w-[600px] mt-20 dark:bg-[#17131A]">
    <a href="https://linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
        </a>
        <h2 class="mb-2 text-3xl tracking-tight font-extrabold text-[#0f0c11] dark:text-[#e8e4ea] md:text-4xl">Ready to build a site that captures your vision?</h2>
        <p class="font-light text-[#0f0c11] dark:text-[#e8e4ea]/80 sm:text-xl">Let's make it true! ✨<p>
        
        <a href="mailto:contact@gonzz.dev" class="flex font-light text-[#6c3f99] dark:text-[#6c3f99] mt-8 sm:text-xl">contact@gonzz.dev<a>
  </div>
</section>