<section>
    <img src="/logo-1.svg" alt="Brand Symbols" class="w-[100px] m-auto mt-20">
  <div class="bg-[#17131A] border-2 border-[#e8e4ea]/10 py-8 px-8 rounded-lg mx-auto max-w-[600px] mt-20">
    <a href="https://linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
      </a>
      <h2 class="mb-2 text-3xl tracking-tight font-extrabold text-[#0f0c11] dark:text-[#e8e4ea] md:text-4xl">Ready to build a site that captures your vision?</h2>
      <p class="font-light text-[#0f0c11] dark:text-[#e8e4ea]/80 sm:text-xl">Let's make it true! ✨<p>

      <!-- Añadir función del formulario -->
      <form action="#" class="space-y-8 mt-4">
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-[#0f0c11] dark:text-[#e8e4ea]">Your e-mail</label>
              <input type="email" id="email" class="shadow-sm bg-[#0f0c11]/80 backdrop-blur border-[2px] border-[#0f0c11] text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-[#ofoc11] dark:border-[#6c3f99] dark:placeholder-[#e8e4ea]/80 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="awesome@email.com" required>
          </div>
          <div>
              <label for="subject" class="block mb-2 text-sm font-medium text-[#0f0c11] dark:text-[#e8e4ea]">Subject</label>
              <input type="text" id="subject" class="block p-3 w-full text-sm text-[#0f0c11] bg-[#0f0c11]/80 backdrop-blur rounded-lg border-[2px] border-[#0f0c11] shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-[#ofoc11] dark:border-[#6c3f99] dark:placeholder-[#e8e4ea]/80 dark:text-[#e8e4ea] dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="How can I help?" required>
          </div>
          <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-sm font-medium text-[#0f0c11] dark:text-[#e8e4ea]">Leave your message</label>
              <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-[0f0c11] bg-[#0f0c11]/80 backdrop-blur rounded-lg shadow-sm border-[2px] border-[#0f0c11] focus:ring-primary-500 focus:border-primary-500 dark:bg-[#ofoc11] dark:border-[#6c3f99] dark:placeholder-[#e8e4ea]/80 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a message about your project and I will contact you as soon as possible. Any comment or feedback is appreciated as well :)"></textarea>
          </div>
          <button type="submit" class="bg-[#6c3f99] text-[#e8e4ea] text-xs font-semibold me-2 px-2.5 py-0.5 rounded-full dark:bg-[#6c3f99]/20 dark:text-[#e8e4ea] border-[2px] border-[#6c3f99] hover:scale-105 hover:text-[#e8e4ea] hover:bg-[#ofoc11] hover:dark:bg-[#6c3f99] hover:dark:text-[#e8e4ea] hover:shadow-primary-2 transition">Send message</button>
      </form>
  </div>
</section>