<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <a href="https://www.linkedin.com/in/gonzz-art/" target="_blank" rel="noopener"><img class="w-[70px] h-[30px]" src="./logo-4.svg" alt="Gonzz logo"></a>
     
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class="font-medium hover:scale-110 transition hover:text-[#ff9933]" href="#experience">Experience</a>
        <a class="font-medium hover:scale-110 transition hover:text-[#ff9933]" href="#projects">Projects</a>
        <a class="font-medium hover:scale-110 transition hover:text-[#ff9933]" href="#contact">Contact</a>
        <a class="font-medium hover:scale-110 transition hover:text-[#ff9933]" href="https://josegonz.site" target="_blank" rel="noopener">Links</a>
    </nav>
</header>