<!-- Social media links -->
<ul class="flex justify-start gap-2 items-center mb-8 md:gap-6">

    <li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
        <a href="https://www.linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
            <img src="./icons/linkedin.svg" alt="LinkedIn logo">
        </a>
    </li>

    <li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
        <a href="https://www.github.com/gonzzdev" target="_blank" rel="noopener">
            <img src="./icons/github.svg" alt="GitHub logo">
        </a>
    </li>

    <li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
        <a href="https://www.twitter.com/gonzz_dev" target="_blank" rel="noopener">
            <img src="./icons/twitter.svg" alt="Twitter logo">
        </a>
    </li>

    <li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
        <a href="https://www.youtube.com/channel/UCUWgFhhL4YoEpylnXCrb_Cg" target="_blank" rel="noopener">
            <img src="./icons/youtube.svg" alt="YouTube logo">
        </a>
    </li>

    <li class="w-[36px] bg-transparent border-[2px] border-[#6c3f99] hover:bg-[#6c3f99]/40 hover:dark:bg-[#6c3f99]/40 rounded-full px-2 py-2 dark:bg-transparent hover:scale-125 transition">
        <a href="https://gonzz.life" target="_blank" rel="noopener">
            <img src="./icons/link.svg" alt="Link to social page">
        </a>
    </li>
</ul>