<!-- Social media links -->
<ul class="flex mb-2 mt-6">

    <li class="w-[36px] px-2 py-2 dark:bg-transparent hover:scale-150 transition mr-4">
        <a href="https://www.linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
            <img src="./icons/linkedin.svg" alt="LinkedIn logo">
        </a>
    </li>

    <li class="w-[38px] px-2 py-2 dark:bg-transparent hover:scale-150 transition mr-4">
        <a href="https://www.github.com/gonzzdev" target="_blank" rel="noopener">
            <img src="./icons/github.svg" alt="GitHub logo">
        </a>
    </li>

    <li class="w-[38px] px-2 py-2 dark:bg-transparent hover:scale-150 transition mr-4">
        <a href="https://www.twitter.com/gonzz_dev" target="_blank" rel="noopener">
            <img src="./icons/twitter.svg" alt="Twitter logo">
        </a>
    </li>

    <li class="w-[40px] px-2 py-2 dark:bg-transparent hover:scale-150 transition mr-4">
        <a href="https://www.youtube.com/channel/UCUWgFhhL4YoEpylnXCrb_Cg" target="_blank" rel="noopener">
            <img src="./icons/youtube.svg" alt="YouTube logo">
        </a>
    </li>

    <li class="w-[38px] px-2 py-2 dark:bg-transparent hover:scale-150 transition">
        <a href="https://gonzz.life" target="_blank" rel="noopener">
            <img src="./icons/link.svg" alt="Link to social page">
        </a>
    </li>
</ul>